*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-size: 4rem; 
    font-family: sans-serif;
    line-height: 30vh;
}
body {
    background-color: black;
}
span{
    opacity: 0;
    transition: all 3s ease;
}

span.fade{
    opacity: 1;
    color: black;
}
.fancy{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: -340px;

}
.tpmembers {
    letter-spacing: 1.5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}
.pbg {
    background-color: white;
}
.pr1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:  white;
}
.prr1 {
    font-family: 'Courier New', Courier, monospace;
    color: black;
    float: left;
    margin-top: -200px;
}
.prrr1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    width: 600px;
    letter-spacing: 1.5px;
    float: left;
    margin-top: -450px;
    margin-left: 48px;
}
.prr2 {
    font-family: 'Courier New', Courier, monospace;
    color: black;
    float: right;
    margin-top: -380px;
}
.prrr2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    width: 600px;
    letter-spacing: 1.5px;
    margin-top: -630px;
    margin-left: 1240px;  
}
.prrrrr1 {
    font-family: 'Courier New', Courier, monospace;
    color: black;
    float: left;
    margin-top: -5px;
}
.prrrr1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    width: 600px;
    letter-spacing: 1.5px;
    float: left;
    margin-top: -250px;
    margin-left: 48px;
}
.prrrrr2 {
    font-family: 'Courier New', Courier, monospace;
    color: black;
    float: right;
    margin-top: -570px;
}
.prrrr2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    width: 600px;
    letter-spacing: 1.5px;
    margin-top: -665px;
    margin-left: 1240px;  
}
.cmy {
    margin-top: -80px;
}
.Team {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    float: left;
    margin-top: -160px;
    margin-left: 40px;
}
.Project {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    float: left;
    margin-top: -160px;
    margin-left: 460px;
}
.Reference {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    float: left;
    margin-top: -160px;
    margin-left: 1240px;
}
.link {
    color: white;
}
.Home {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    float: left;
    margin-top: -160px;
    margin-left: 860px;
    letter-spacing: 0.2px;
}
.Team,
.Project,
.Home,
.Reference {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
}
.Team:hover,
.Project:hover,
.Home:hover,
.Reference:hover {
    color: black;
    background: white;
    transition-delay: 0.2s;
}